USE [master]
GO
/****** Object:  Database [JoyfullMusicSchool]    Script Date: 2026/03/20 07:08:58 ******/
CREATE DATABASE [JoyfullMusicSchool]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JoyfullMusicSchool', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\JoyfullMusicSchool.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JoyfullMusicSchool_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\JoyfullMusicSchool_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JoyfullMusicSchool].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JoyfullMusicSchool]
GO
/****** Object:  Table [dbo].[AccountHolder]    Script Date: 2026/03/20 07:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountHolder](
	[AccountHolderID] [int] IDENTITY(1,1) NOT NULL,
	[TeacherID] [int] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[BillingAddress] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AccountHolder] PRIMARY KEY CLUSTERED 
(
	[AccountHolderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BundleQuarter]    Script Date: 2026/03/20 07:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BundleQuarter](
	[QuarterID] [int] IDENTITY(1,1) NOT NULL,
	[BundleID] [int] NOT NULL,
	[QuarterNumber] [tinyint] NOT NULL,
	[LessonsAllocated] [int] NOT NULL,
	[LessonsUsed] [int] NOT NULL,
	[QuarterStartDate] [date] NOT NULL,
	[QuarterEndDate] [date] NOT NULL,
 CONSTRAINT [PK_BundleQuarter] PRIMARY KEY CLUSTERED 
(
	[QuarterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExtraLesson]    Script Date: 2026/03/20 07:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExtraLesson](
	[ExtraLessonID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[TeacherID] [int] NOT NULL,
	[LessonTypeID] [int] NOT NULL,
	[ScheduledDate] [date] NOT NULL,
	[ScheduledTime] [time](0) NOT NULL,
	[PriceCharged] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ExtraLesson] PRIMARY KEY CLUSTERED 
(
	[ExtraLessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 2026/03/20 07:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[BundleID] [int] NULL,
	[AccountHolderID] [int] NOT NULL,
	[InstallmentNumber] [tinyint] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[DueDate] [date] NOT NULL,
	[PaidDate] [date] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](300) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ExtraLessonID] [int] NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson]    Script Date: 2026/03/20 07:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[LessonID] [int] IDENTITY(1,1) NOT NULL,
	[SlotID] [int] NOT NULL,
	[BundleID] [int] NOT NULL,
	[QuarterID] [int] NOT NULL,
	[ScheduledDate] [date] NOT NULL,
	[ScheduledTime] [time](0) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreditForfeited] [bit] NOT NULL,
	[CancelledBy] [nvarchar](10) NULL,
	[CancellationReason] [nvarchar](300) NULL,
	[OriginalLessonID] [int] NULL,
	[CompletedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Notes] [nvarchar](2000) NULL,
 CONSTRAINT [PK_Lesson] PRIMARY KEY CLUSTERED 
(
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LessonBundle]    Script Date: 2026/03/20 07:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LessonBundle](
	[BundleID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[TeacherID] [int] NOT NULL,
	[LessonTypeID] [int] NOT NULL,
	[TotalLessons] [int] NOT NULL,
	[PricePerLesson] [decimal](10, 2) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[QuarterSize]  AS ([TotalLessons]/(4)) PERSISTED,
	[IsActive] [bit] NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LessonBundle] PRIMARY KEY CLUSTERED 
(
	[BundleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LessonType]    Script Date: 2026/03/20 07:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LessonType](
	[LessonTypeID] [int] IDENTITY(1,1) NOT NULL,
	[DurationMinutes] [int] NOT NULL,
	[BasePricePerLesson] [decimal](10, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_LessonType] PRIMARY KEY CLUSTERED 
(
	[LessonTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduledSlot]    Script Date: 2026/03/20 07:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduledSlot](
	[SlotID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[TeacherID] [int] NOT NULL,
	[LessonTypeID] [int] NOT NULL,
	[DayOfWeek] [tinyint] NOT NULL,
	[SlotTime] [time](0) NOT NULL,
	[EffectiveFrom] [date] NOT NULL,
	[EffectiveTo] [date] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ScheduledSlot] PRIMARY KEY CLUSTERED 
(
	[SlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2026/03/20 07:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[AccountHolderID] [int] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[DateOfBirth] [date] NULL,
	[IsAccountHolder] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 2026/03/20 07:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[TeacherID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].[LessonType] ON 

INSERT [dbo].[LessonType] ([LessonTypeID], [DurationMinutes], [BasePricePerLesson], [IsActive]) VALUES (1, 30, CAST(190.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[LessonType] ([LessonTypeID], [DurationMinutes], [BasePricePerLesson], [IsActive]) VALUES (2, 45, CAST(275.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[LessonType] ([LessonTypeID], [DurationMinutes], [BasePricePerLesson], [IsActive]) VALUES (3, 60, CAST(365.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[LessonType] OFF
GO
SET IDENTITY_INSERT [dbo].[ScheduledSlot] ON 

SET IDENTITY_INSERT [dbo].[Teacher] ON 

INSERT [dbo].[Teacher] ([TeacherID], [Name], [Email], [Phone], [IsActive], [CreatedAt]) VALUES (1, N'Adele Jordaan', N'adelejordaan@gmail.com', N'0836622177', 1, CAST(N'2026-03-19T10:35:32.0200000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Teacher] OFF
GO
/****** Object:  Index [IX_AccountHolder_Teacher]    Script Date: 2026/03/20 07:08:58 ******/
CREATE NONCLUSTERED INDEX [IX_AccountHolder_Teacher] ON [dbo].[AccountHolder]
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_BundleQuarter_Number]    Script Date: 2026/03/20 07:08:58 ******/
ALTER TABLE [dbo].[BundleQuarter] ADD  CONSTRAINT [UQ_BundleQuarter_Number] UNIQUE NONCLUSTERED 
(
	[BundleID] ASC,
	[QuarterNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Quarter_Bundle]    Script Date: 2026/03/20 07:08:58 ******/
CREATE NONCLUSTERED INDEX [IX_Quarter_Bundle] ON [dbo].[BundleQuarter]
(
	[BundleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExtraLesson_Student]    Script Date: 2026/03/20 07:08:58 ******/
CREATE NONCLUSTERED INDEX [IX_ExtraLesson_Student] ON [dbo].[ExtraLesson]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Invoice_AccountHolder]    Script Date: 2026/03/20 07:08:58 ******/
CREATE NONCLUSTERED INDEX [IX_Invoice_AccountHolder] ON [dbo].[Invoice]
(
	[AccountHolderID] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoice_Bundle]    Script Date: 2026/03/20 07:08:58 ******/
CREATE NONCLUSTERED INDEX [IX_Invoice_Bundle] ON [dbo].[Invoice]
(
	[BundleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Invoice_DueDate]    Script Date: 2026/03/20 07:08:58 ******/
CREATE NONCLUSTERED INDEX [IX_Invoice_DueDate] ON [dbo].[Invoice]
(
	[DueDate] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Invoice_ExtraLessonID]    Script Date: 2026/03/20 07:08:58 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Invoice_ExtraLessonID] ON [dbo].[Invoice]
(
	[ExtraLessonID] ASC
)
WHERE ([ExtraLessonID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lesson_Bundle]    Script Date: 2026/03/20 07:08:58 ******/
CREATE NONCLUSTERED INDEX [IX_Lesson_Bundle] ON [dbo].[Lesson]
(
	[BundleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lesson_Date]    Script Date: 2026/03/20 07:08:58 ******/
CREATE NONCLUSTERED INDEX [IX_Lesson_Date] ON [dbo].[Lesson]
(
	[ScheduledDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Lesson_Status]    Script Date: 2026/03/20 07:08:58 ******/
CREATE NONCLUSTERED INDEX [IX_Lesson_Status] ON [dbo].[Lesson]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bundle_Student]    Script Date: 2026/03/20 07:08:58 ******/
CREATE NONCLUSTERED INDEX [IX_Bundle_Student] ON [dbo].[LessonBundle]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bundle_Teacher]    Script Date: 2026/03/20 07:08:58 ******/
CREATE NONCLUSTERED INDEX [IX_Bundle_Teacher] ON [dbo].[LessonBundle]
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_LessonType_Duration]    Script Date: 2026/03/20 07:08:58 ******/
ALTER TABLE [dbo].[LessonType] ADD  CONSTRAINT [UQ_LessonType_Duration] UNIQUE NONCLUSTERED 
(
	[DurationMinutes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Slot_Student]    Script Date: 2026/03/20 07:08:58 ******/
CREATE NONCLUSTERED INDEX [IX_Slot_Student] ON [dbo].[ScheduledSlot]
(
	[StudentID] ASC,
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Slot_Teacher]    Script Date: 2026/03/20 07:08:58 ******/
CREATE NONCLUSTERED INDEX [IX_Slot_Teacher] ON [dbo].[ScheduledSlot]
(
	[TeacherID] ASC,
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Student_AccountHolder]    Script Date: 2026/03/20 07:08:58 ******/
CREATE NONCLUSTERED INDEX [IX_Student_AccountHolder] ON [dbo].[Student]
(
	[AccountHolderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Teacher_Email]    Script Date: 2026/03/20 07:08:58 ******/
ALTER TABLE [dbo].[Teacher] ADD  CONSTRAINT [UQ_Teacher_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccountHolder] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AccountHolder] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BundleQuarter] ADD  DEFAULT ((0)) FOR [LessonsUsed]
GO
ALTER TABLE [dbo].[ExtraLesson] ADD  DEFAULT ('Scheduled') FOR [Status]
GO
ALTER TABLE [dbo].[ExtraLesson] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Lesson] ADD  DEFAULT ('Scheduled') FOR [Status]
GO
ALTER TABLE [dbo].[Lesson] ADD  DEFAULT ((0)) FOR [CreditForfeited]
GO
ALTER TABLE [dbo].[Lesson] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LessonBundle] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LessonBundle] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LessonType] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ScheduledSlot] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT ((0)) FOR [IsAccountHolder]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Teacher] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Teacher] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AccountHolder]  WITH CHECK ADD  CONSTRAINT [FK_AccountHolder_Teacher] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teacher] ([TeacherID])
GO
ALTER TABLE [dbo].[AccountHolder] CHECK CONSTRAINT [FK_AccountHolder_Teacher]
GO
ALTER TABLE [dbo].[BundleQuarter]  WITH CHECK ADD  CONSTRAINT [FK_BundleQuarter_Bundle] FOREIGN KEY([BundleID])
REFERENCES [dbo].[LessonBundle] ([BundleID])
GO
ALTER TABLE [dbo].[BundleQuarter] CHECK CONSTRAINT [FK_BundleQuarter_Bundle]
GO
ALTER TABLE [dbo].[ExtraLesson]  WITH CHECK ADD  CONSTRAINT [FK_Extra_LessonType] FOREIGN KEY([LessonTypeID])
REFERENCES [dbo].[LessonType] ([LessonTypeID])
GO
ALTER TABLE [dbo].[ExtraLesson] CHECK CONSTRAINT [FK_Extra_LessonType]
GO
ALTER TABLE [dbo].[ExtraLesson]  WITH CHECK ADD  CONSTRAINT [FK_Extra_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[ExtraLesson] CHECK CONSTRAINT [FK_Extra_Student]
GO
ALTER TABLE [dbo].[ExtraLesson]  WITH CHECK ADD  CONSTRAINT [FK_Extra_Teacher] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teacher] ([TeacherID])
GO
ALTER TABLE [dbo].[ExtraLesson] CHECK CONSTRAINT [FK_Extra_Teacher]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_AccountHolder] FOREIGN KEY([AccountHolderID])
REFERENCES [dbo].[AccountHolder] ([AccountHolderID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_AccountHolder]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Bundle] FOREIGN KEY([BundleID])
REFERENCES [dbo].[LessonBundle] ([BundleID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Bundle]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_ExtraLesson] FOREIGN KEY([ExtraLessonID])
REFERENCES [dbo].[ExtraLesson] ([ExtraLessonID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_ExtraLesson]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD  CONSTRAINT [FK_Lesson_Bundle] FOREIGN KEY([BundleID])
REFERENCES [dbo].[LessonBundle] ([BundleID])
GO
ALTER TABLE [dbo].[Lesson] CHECK CONSTRAINT [FK_Lesson_Bundle]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD  CONSTRAINT [FK_Lesson_Original] FOREIGN KEY([OriginalLessonID])
REFERENCES [dbo].[Lesson] ([LessonID])
GO
ALTER TABLE [dbo].[Lesson] CHECK CONSTRAINT [FK_Lesson_Original]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD  CONSTRAINT [FK_Lesson_Quarter] FOREIGN KEY([QuarterID])
REFERENCES [dbo].[BundleQuarter] ([QuarterID])
GO
ALTER TABLE [dbo].[Lesson] CHECK CONSTRAINT [FK_Lesson_Quarter]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD  CONSTRAINT [FK_Lesson_Slot] FOREIGN KEY([SlotID])
REFERENCES [dbo].[ScheduledSlot] ([SlotID])
GO
ALTER TABLE [dbo].[Lesson] CHECK CONSTRAINT [FK_Lesson_Slot]
GO
ALTER TABLE [dbo].[LessonBundle]  WITH CHECK ADD  CONSTRAINT [FK_Bundle_LessonType] FOREIGN KEY([LessonTypeID])
REFERENCES [dbo].[LessonType] ([LessonTypeID])
GO
ALTER TABLE [dbo].[LessonBundle] CHECK CONSTRAINT [FK_Bundle_LessonType]
GO
ALTER TABLE [dbo].[LessonBundle]  WITH CHECK ADD  CONSTRAINT [FK_Bundle_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[LessonBundle] CHECK CONSTRAINT [FK_Bundle_Student]
GO
ALTER TABLE [dbo].[LessonBundle]  WITH CHECK ADD  CONSTRAINT [FK_Bundle_Teacher] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teacher] ([TeacherID])
GO
ALTER TABLE [dbo].[LessonBundle] CHECK CONSTRAINT [FK_Bundle_Teacher]
GO
ALTER TABLE [dbo].[ScheduledSlot]  WITH CHECK ADD  CONSTRAINT [FK_Slot_LessonType] FOREIGN KEY([LessonTypeID])
REFERENCES [dbo].[LessonType] ([LessonTypeID])
GO
ALTER TABLE [dbo].[ScheduledSlot] CHECK CONSTRAINT [FK_Slot_LessonType]
GO
ALTER TABLE [dbo].[ScheduledSlot]  WITH CHECK ADD  CONSTRAINT [FK_Slot_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[ScheduledSlot] CHECK CONSTRAINT [FK_Slot_Student]
GO
ALTER TABLE [dbo].[ScheduledSlot]  WITH CHECK ADD  CONSTRAINT [FK_Slot_Teacher] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teacher] ([TeacherID])
GO
ALTER TABLE [dbo].[ScheduledSlot] CHECK CONSTRAINT [FK_Slot_Teacher]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_AccountHolder] FOREIGN KEY([AccountHolderID])
REFERENCES [dbo].[AccountHolder] ([AccountHolderID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_AccountHolder]
GO
ALTER TABLE [dbo].[BundleQuarter]  WITH CHECK ADD  CONSTRAINT [CK_BundleQuarter_Number] CHECK  (([QuarterNumber]>=(1) AND [QuarterNumber]<=(4)))
GO
ALTER TABLE [dbo].[BundleQuarter] CHECK CONSTRAINT [CK_BundleQuarter_Number]
GO
ALTER TABLE [dbo].[BundleQuarter]  WITH CHECK ADD  CONSTRAINT [CK_BundleQuarter_Used] CHECK  (([LessonsUsed]>=(0) AND [LessonsUsed]<=[LessonsAllocated]))
GO
ALTER TABLE [dbo].[BundleQuarter] CHECK CONSTRAINT [CK_BundleQuarter_Used]
GO
ALTER TABLE [dbo].[ExtraLesson]  WITH CHECK ADD  CONSTRAINT [CK_Extra_Price] CHECK  (([PriceCharged]>=(0)))
GO
ALTER TABLE [dbo].[ExtraLesson] CHECK CONSTRAINT [CK_Extra_Price]
GO
ALTER TABLE [dbo].[ExtraLesson]  WITH CHECK ADD  CONSTRAINT [CK_Extra_Status] CHECK  (([Status]='Forfeited' OR [Status]='Cancelled' OR [Status]='Completed' OR [Status]='Scheduled'))
GO
ALTER TABLE [dbo].[ExtraLesson] CHECK CONSTRAINT [CK_Extra_Status]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [CHK_Invoice_BundleOrExtraLesson] CHECK  (([BundleID] IS NOT NULL AND [ExtraLessonID] IS NULL OR [BundleID] IS NULL AND [ExtraLessonID] IS NOT NULL))
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [CHK_Invoice_BundleOrExtraLesson]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [CK_Invoice_Amount] CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [CK_Invoice_Amount]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [CK_Invoice_Status] CHECK  (([Status]='Void' OR [Status]='Overdue' OR [Status]='Paid' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [CK_Invoice_Status]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD  CONSTRAINT [CK_Lesson_CancelledBy] CHECK  (([CancelledBy]='Student' OR [CancelledBy]='Teacher' OR [CancelledBy] IS NULL))
GO
ALTER TABLE [dbo].[Lesson] CHECK CONSTRAINT [CK_Lesson_CancelledBy]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD  CONSTRAINT [CK_Lesson_Status] CHECK  (([Status]='Forfeited' OR [Status]='CancelledStudent' OR [Status]='Rescheduled' OR [Status]='CancelledTeacher' OR [Status]='Completed' OR [Status]='Scheduled'))
GO
ALTER TABLE [dbo].[Lesson] CHECK CONSTRAINT [CK_Lesson_Status]
GO
ALTER TABLE [dbo].[LessonBundle]  WITH CHECK ADD  CONSTRAINT [CK_Bundle_Dates] CHECK  (([EndDate]>[StartDate]))
GO
ALTER TABLE [dbo].[LessonBundle] CHECK CONSTRAINT [CK_Bundle_Dates]
GO
ALTER TABLE [dbo].[LessonBundle]  WITH CHECK ADD  CONSTRAINT [CK_Bundle_Price] CHECK  (([PricePerLesson]>=(0)))
GO
ALTER TABLE [dbo].[LessonBundle] CHECK CONSTRAINT [CK_Bundle_Price]
GO
ALTER TABLE [dbo].[LessonBundle]  WITH CHECK ADD  CONSTRAINT [CK_Bundle_TotalLessons] CHECK  (([TotalLessons]>(0) AND [TotalLessons]%(4)=(0)))
GO
ALTER TABLE [dbo].[LessonBundle] CHECK CONSTRAINT [CK_Bundle_TotalLessons]
GO
ALTER TABLE [dbo].[LessonType]  WITH CHECK ADD  CONSTRAINT [CK_LessonType_Duration] CHECK  (([DurationMinutes]=(60) OR [DurationMinutes]=(45) OR [DurationMinutes]=(30)))
GO
ALTER TABLE [dbo].[LessonType] CHECK CONSTRAINT [CK_LessonType_Duration]
GO
ALTER TABLE [dbo].[LessonType]  WITH CHECK ADD  CONSTRAINT [CK_LessonType_Price] CHECK  (([BasePricePerLesson]>=(0)))
GO
ALTER TABLE [dbo].[LessonType] CHECK CONSTRAINT [CK_LessonType_Price]
GO
ALTER TABLE [dbo].[ScheduledSlot]  WITH CHECK ADD  CONSTRAINT [CK_Slot_Dates] CHECK  (([EffectiveTo] IS NULL OR [EffectiveTo]>[EffectiveFrom]))
GO
ALTER TABLE [dbo].[ScheduledSlot] CHECK CONSTRAINT [CK_Slot_Dates]
GO
ALTER TABLE [dbo].[ScheduledSlot]  WITH CHECK ADD  CONSTRAINT [CK_Slot_DayOfWeek] CHECK  (([DayOfWeek]>=(1) AND [DayOfWeek]<=(7)))
GO
ALTER TABLE [dbo].[ScheduledSlot] CHECK CONSTRAINT [CK_Slot_DayOfWeek]
GO
USE [master]
GO
